.dashboard {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0.4rem;
}
.actualContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
}
.accountExpenseContainer {
  grid-column: 1;
  grid-row: 2;
  background-color: aqua;
  & p {
    font-size: 1.15rem;
  }
}
.recentExpensesContainer {
  background-color: yellow;
  & p {
    font-size: 1.15rem;
    text-align: center;
  }
}

.expenseCard {
  background-color: aquamarine;
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}
