.fCard {
  display: flex;
  background-color: #f9e7d7;
  padding: 0 1rem;
  border-radius: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}
.fCard > p {
  margin: 0;
  padding: 1rem;
  width: 150px;
  border-left: 1px solid #0081a7;
  color: #0081a7;
}
